@mixin d-flex($display,$wrap,$justify,$align, $t-align,$gap){
    display: $display;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
    text-align: $t-align;
    gap: $gap;
}

@mixin grid($rows: null, $columns: null, ) {
    display: $grid;
    grid-template-rows: $rows;
    grid-template-columns: $columns;
  }